.AuthGrid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height: 100vh;
    width: 100vw;
}

.secionA{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.SignInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.SignInForm label{
    font-weight: bold;
}
.SignInForm input{
    border-radius: 16px;
    border: 1px solid gray;
    padding: 6px;
    margin-bottom: .5rem;
    
}
.formGroupSignIn{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.AuthenInput {
    height: 50px; /* Set your desired height here */
    padding: 20px;
}

.SignUpBtn{
    width: 60%;
    border-radius: 16px;
    background-color: #4B6B9A;
    color: white;
    padding: 5px;
    border: none;
}
.GoToSignUp{
align-self: center;
}
.secionB{
    grid-row: 2;
    display: none;
    justify-content: center;
    background: linear-gradient(to top, #1D2856, #4B6B9A);
    border-radius: 2%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    position: relative;
    overflow: hidden;
    height: 300px;

}
.logoInfo{
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.logoInfo button{
    width: 35px;
    width: 135px;
    border-radius: 16px;
    background-color: #4B6B9A;
    color: white;
    padding: 5px;
    border: none;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .AuthGrid{
        grid-template-columns: .6fr .4fr;
    }
    .secionA{
        grid-row: 1;

    }
    .secionB{
        display: flex;
        grid-row: 1;
        height: 100%;


    }

    .SignInForm input{
        height: 20px;
        border-radius: 20px;
        border: 1px solid gray;
        padding: 8px;
        margin-bottom: .5rem;
    }
}

@media only screen and (min-width: 768px) {
      /* For desktop: */
.AuthGrid{
    grid-template-columns: .6fr .4fr;
}
.secionA{
    grid-row: 1;

}
.secionB{
    grid-row: 1;

}

}